@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

.footer {
  background-color: rgb(81, 116, 182);
  color: #fff;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  font-family: 'Titillium Web', sans-serif;
}

.footer .container {
  max-width: 1080px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.logobaixo {
  width: 300px; 
  height: auto;
  
}

.footer p {
  margin: 0;
}
/* Responsividade */
@media (max-width: 600px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  .footer p {
    font-size: 0.85rem;
  }
  }

