@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
}

header {
  background-color: rgb(81, 116, 182);
}

.navbar-nav .nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  padding: 10px 15px;
  position: relative;
  transition: color 0.3s, background-color 0.3s;
  margin: 0 15px; /* Adiciona espaçamento entre os links */
}

.navbar-nav .nav-link.active {
  color: #000000;
}

.navbar-nav .nav-link::before {
  content: "";
  width: 0;
  height: 4px;
  background-image: linear-gradient(#000, #b7d7a8);
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.8s ease-in-out;
}

.navbar-nav .nav-link:hover::before {
  width: 100%;
}

.sociais button {
  background: transparent;
  border: none;
  font-size: 24px;
  margin: 0 10px;
  transition: color 0.3s, transform 0.3s, background-color 0.3s;
  padding: 5px;
  border-radius: 50%;
}

.sociais button:hover {
  color: rgb(183, 215, 168);
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.1);
}

@media (max-width: 768px) {
  .navbar-nav .nav-link {
    font-size: 16px;
  }

  .sociais button {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .navbar-nav .nav-link {
    font-size: 14px;
  }

  .sociais button {
    font-size: 18px;
  }
}

.logo {
  height: 50px;
  width: auto;
}
