@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

body {
  font-family: 'Titillium Web', sans-serif;
}


.table-responsive {
  margin-top: 10px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: rgba(128, 128, 128, 0.548);
}

.table th, .table td {
  padding: 10px;
  text-align: center;
}

.table thead th {
  background-color: #343a40;
  color: white;
}

.table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tbody tr:hover {
  background-color: #e2f2ff;
}

/* Media queries para responsividade */
@media (max-width: 600px) {
  h2 {
    font-size: 1.2rem;
    padding: 10px;
  }

  .table th, .table td {
    padding: 8px;
    font-size: 0.8rem;
  }

  .table {
    font-size: 0.9rem;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  h2 {
    font-size: 1.5rem;
    padding: 12px;
  }

  .table th, .table td {
    padding: 10px;
    font-size: 0.9rem;
  }

  .table {
    font-size: 1rem;
  }
}

@media (min-width: 1025px) {
  h2 {
    font-size: 1.8rem;
    padding: 15px;
  }

  .table th, .table td {
    padding: 12px;
    font-size: 1rem;
  }

  .table {
    font-size: 1rem;
  }
}
