main {
  background-image: url(/src/componets/Degrade.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.home-container {
  width: 60%;
  margin: 0 auto; 
  padding-top: 20px;
  text-align: center; 
}

.banner-container {
  width: 100%;
  max-width: 1080px;
  height: 250px;
  margin: 0 auto;
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.text-container {
  margin: 20px auto;
  padding: 0 20px;
}

.text-container h2 {
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center; 
}

.text-container p {
  font-size: 16px;
  text-align: center;
  margin: 10px 0; 
}

@media screen and (max-width: 768px) {
  .home-container {
    width: 80%;
  }
  
  .text-container p {
    font-size: 14px;
    padding: 0 15px;
  }

  .banner-container {
    max-width: 90%;
  }

  .text-container h2 {
    font-size: 20px;
  }
}

@media screen and (max-width: 480px) {
  .home-container {
    width: 90%;
  }

  .text-container p {
    font-size: 12px;
    padding: 0 10px;
  }

  .banner-container {
    max-width: 80%;
  }

  .text-container h2 {
    font-size: 18px;
  }
}
